/* Show it is fixed to the top */
/* body {
    min-height: 75rem;
    padding-top: 4.5rem;
     
  } */

body {
  background-color: #f2efe5;
  /* font-family: "砧 丸明Yoshino StdN" ; */
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

.navBar {
  background-color: #150201;
}

.catchCopy {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 60%;
  top: 35vh;
  left: 3vw;
}

/* レスポンシブデザイン */


@media (max-width: 2000px) {
  .catchCopy {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 60%;
    top: 35vh;
    left: 3vw;
    font-size:2.5vw;
  }
}

@media (max-width: 991px) {
  .catchCopy {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 60%;
    top: 35vh;
    left: 3vw;
    font-size:2.5vw;
  }
}

@media (max-width: 767px) {
  .catchCopy {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 60%;
    top: 35vh;
    left: 3vw;
    font-size:2.5vw;
  }
}

@media (max-width: 575px) {
  .catchCopy {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size:6vw;
  }
  .doggo{
    margin-top:90px;
  }
}

.backgroundImg {
  height: 100vh;
  background-image: url(../img/image_top.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity:0.5; */
}

.backgroundImg2 {
  height: 100vh;
  background-image: url(../img/image_top2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity:0.5; */
}



/***追従するトップへ戻るボタン***/
#page-top {
  position: fixed;
  right: 5px;
  bottom: 20px;
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: #737373;
  padding: 0 0 0 35px;
  border-top: solid 1px;
}
#page-top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
}
/***トップへ戻るボタンここまで***/

.footer {
  background-color: #150201;
}
